@font-face {
    font-family: "quicksand";
    src: url("quicksand/Quicksand-Regular.otf") format("truetype");
}

html, body {
  height: 100%;
  font-family: "quicksand", Verdana, Tahoma;
  font-size:1.9em;
}

.time-left-text {
	margin-top:2%;
	margin-bottom:2%;
}

.epic-count-down-container {
	/*margin:0 auto;*/
	text-align:center;
	/*margin-top:10%;*/
	padding:10%;
	padding-top:2%;
}

img.rocket {
	width: 33%;
}

.time{
	font-weight:bold;
}

@media (max-width: 767px) {
	html, body {
	  height: 100%;
	  font-family: "quicksand", Verdana, Tahoma;
	  font-size:1.6em;
	}

	.epic-count-down-container{
		margin-top:2%;
	}

	img.rocket {
		width: 80%;
		/*margin-top:15%;*/
	}

	.time-left-text {
		margin-top:5%;
		margin-bottom:5%;

	}
}